/* #btn-translate
{
  font-size: 20rem;
} */
/* #output {
  border: 1px solid black;
  height: 8rem;
  width: 30rem;
} */

.header {
  height:8rem;
  /* background-image: "url("images/bg image.png"); */

  background-color:#62760C;
  text-align: center;
  font-size: 3rem;
  font-family: inherit;
  /* padding-top: 8rem; */
  /* padding-inline */
}

body {
  margin: auto;

    /* background: url(images/bg_image.jpg); */
    background-color: #487346;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 200 200'%3E%3Cg %3E%3Cpolygon fill='%23608f57' points='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%2374ad69' points='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%23608f57' points='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%2374ad69' points='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%2389CC7C' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%237f8f53' points='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%239bad64' points='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%23B6CC76' points='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%239bad64' points='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%237f8f53' points='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%23B6CC76' points='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%237f8f53' points='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%23B6CC76' points='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%239bad64' points='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%23B6CC76' points='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E");

}

#txt-area {
  /* margin-top: 40px; */
  display: block;
  margin: 40px auto auto auto;
  width: 40%;
  border: 3px solid black;
  padding: 10px;
  height: 9rem;
  border-radius: 0.2cm;
  /* background-color: white; */
}

#btn-translate {
  display: block;
  margin: 20px auto 20px auto;
  height: 3rem;
  width:10rem;
  font-size: 1.3rem;
  background-color: #CDB30C;
  text-shadow: 1px 1px #343A40;
border-color: black;
border-radius: 0.5rem;
}

#output {
  /* margin-top: 40px; */
  display: block;
  margin: 30px auto auto auto;
  width: 40%;
  border: 3px solid black;
  padding: 10px;
  height: 9rem;
  border-radius: 0.2cm;
  background-color: white;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#523906;
  color: white;
height: 8rem;
}
.internal
{text-shadow: 2px 2px black;
  padding-top: 35px;
  font-weight: 300;
  color: white;
}

.footer-txt
{font-style: italic;
  font-family:inherit;
  padding-top: 2rem;
  text-align: center;
  font-size: 1.2rem;

}
